<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jactfirstdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.jactfirstdemo.JactLoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.jactfirstdemo.GoogleFirstDemo"
            android:label="@string/google_activity_label"
            android:parentActivityName="com.example.jactfirstdemo.JactLoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jactfirstdemo.JactLoginActivity" />
        </activity>
        <activity
            android:name="com.example.jactfirstdemo.GoogleSearchResultsActivity"
            android:label="@string/google_results_activity_label"
            android:parentActivityName="com.example.jactfirstdemo.JactLoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jactfirstdemo.JactLoginActivity" />
        </activity>
        <activity
            android:name="com.example.jactfirstdemo.GoBroncosActivity"
            android:label="@string/broncos_activity_label"
            android:parentActivityName="com.example.jactfirstdemo.JactLoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jactfirstdemo.JactLoginActivity" />
        </activity>
        <activity
            android:name="com.example.jactfirstdemo.JactLoggedInHomeActivity"
            android:label="@string/jact_logged_in_home_activity_label"
            android:parentActivityName="com.example.jactfirstdemo.JactLoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jactfirstdemo.JactLoginActivity" />
        </activity>
    </application>

</manifest>
